
<mat-card>
  <mat-spinner *ngIf='isLoading'></mat-spinner>

<form (submit)="onLogin(loginForm)" *ngIf="!isLoading" #loginForm="ngForm">


  <mat-form-field>
    <input matInput type="email"  name="email" ngModel #emailInput="ngModel" placeholder="E-Mail" required email >
  <mat-error *ngIf="emailInput.invalid">Please Enter Valid Email...</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="password" name="password" ngModel #passwordInput="ngModel" matInput placeholder="Password" required >
    <mat-error *ngIf="passwordInput.invalid">Please Enter the Valid Password...</mat-error>
  </mat-form-field>

  <button  mat-raised-button  type="submit"  color = "primary">Login</button>

  <!-- <button
    mat-raised-button
    color="primary"
    type ="button"
    [routerLink]= "['/']">Cancel</button> -->

</form>
</mat-card>

<!-- <hr> -->


