
<mat-card>
<form (submit)="onAddPost(postForm)" #postForm="ngForm">
  <mat-form-field>
    <input matInput type="text" ngModel name="title" required minlength="4" #title="ngModel">
    <mat-error *ngIf="title.invalid">Please Enter the Post Title...</mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput rows="4" ngModel name="content" required #content="ngModel"></textarea>
    <mat-error *ngIf="content.invalid">Please Enter the Post Content...</mat-error>
  <!-- <button mat-raised-button color="warn">Warn</button> -->
  </mat-form-field>

  <button
   mat-raised-button
   type="submit"
   color = "primary"
  >Save post</button>
</form>


</mat-card>

<hr>
<!-- <p>{{newPost}}</p> -->

